.product-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

@media(max-width: 1024px) {
  .product-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media(max-width: 850px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 480px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:370px) {
  .product-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
